
body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: Black;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat-bold';
}


a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}


iframe{
  padding: 8% 5%;
}
.big-heading{
  font-family: 'Montserrat-Black';
  font-size: 4rem;
  line-height: 1.5;
  font-weight: bold;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

.section{
height: 0vh;

border: 10px solid gray;
position: relative;
}
.container{
  background-color: #ff4c68;
  color: #fff;
  border: 10px solid gray;
  max-width: 900px;
  width: 100%;

  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

textarea{
  color: red;
  font-size: 1rem;
}
